# Docker Images
# Change to a stable image (https://hub.docker.com/_/yourls/)
YOURLS_IMAGE=docker.io/yourls:fpm-alpine
YOURLS_MYSQL_IMAGE=docker.io/mysql:8.0

# Database Configuration
YOURLS_DB_PASSWORD=CHANGE_ME_DB_PASSWORD
MYSQL_ROOT_PASSWORD=CHANGE_ME_ROOT_PASSWORD

# Admin Configuration
YOURLS_ADMIN_USER=linkstack
YOURLS_ADMIN_PASSWORD=CHANGE_ME_ADMIN_PASSWORD

# Security
YOURLS_COOKIEKEY=CHANGE_ME_COOKIEKEY

# Site Configuration
YOURLS_SITE=https://localhost

# YOURLS Options
YOURLS_HOURS_OFFSET=0
YOURLS_LANG=id_ID
YOURLS_UNIQUE_URLS=true
YOURLS_PRIVATE=true

# Logging
DEBUG=false