element-web/config/element-web-config.json
element-web/config/element-web-config.json.bak
element-web/modules/
element-web/i18n

homarr/homarr/
homarr/.env

immich-app/library/
immich-app/postgres/
immich-app/.env

nextcrow-docker/.env
nextcrow-docker/skeleton

ntfy/ntfy/
ntfy/.env

pi-hole/etc-pihole/
pi-hole/etc-dnsmasq.d/
pi-hole/.env

searxng-docker/searxng/
searxng-docker/sources/
searxng-docker/.env

synapse/synapse-data/
synapse/postgres-data/
synapse/.env

synapse/mautrix-telegram/mautrix-telegram-data/
synapse/mautrix-whatsapp/mautrix-whatsapp-data/
synapse/mautrix-whatsapp/postgres-data/
synapse/mautrix-whatsapp/.env

uptime-kuma/data/
uptime-kuma/source/

vaultwarden/vw-data/
vaultwarden/.env

wiki/db_data/
wiki/mediawiki_data/
wiki/.env
wiki/LocalSettings.php

yourls/admin-yourls-recaptcha-v3/
yourls/Sleeky/
yourls/.env

git-init-push.sh
