# Waktu & Zona
TZ=Asia/Jakarta

# Autentikasi
FTLCONF_webserver_api_password=CHANGE_ME_API_PASSWORD
WEBPASSWORD=CHANGE_ME_WEB_PASSWORD

# [dns]
FTLCONF_dns_upstreams=cloudflared#53
FTLCONF_dns_blockESNI=true
FTLCONF_dns_EDNS0ECS=false
FTLCONF_dns_ignoreLocalhost=true
FTLCONF_dns_showDNSSEC=false
FTLCONF_dns_analyzeOnlyAandAAAA=false
FTLCONF_dns_piholePTR=pi.hole
FTLCONF_dns_replyWhenBusy=THROTTLE
FTLCONF_dns_blockTTL=86400
FTLCONF_dns_domainNeeded=true
FTLCONF_dns_expandHosts=false
FTLCONF_dns_bogusPriv=true
FTLCONF_dns_dnssec=false
FTLCONF_dns_interface=
FTLCONF_dns_listeningMode=ALL
FTLCONF_dns_queryLogging=false
FTLCONF_dns_port=53
FTLCONF_dns_localise=false

# [dns.cache]
FTLCONF_dns_cache_size=5000
FTLCONF_dns_cache_optimizer=3600
FTLCONF_dns_cache_upstreamBlockedTTL=86400

# [dns.blocking]
FTLCONF_dns_blocking_active=true

# [dns.rateLimit]
FTLCONF_dns_rateLimit_count=1000
FTLCONF_dns_rateLimit_interval=60

# [database]
FTLCONF_database_maxDBdays=3
FTLCONF_database_network_expire=3

# [misc]
FTLCONF_misc_privacylevel=3

# Cloudflare Tunnel
TUNNEL_DNS_UPSTREAM=https://doh.libredns.gr/dns-query,https://dns.quad9.net/dns-query
TUNNEL_DNS_PORT=53
TUNNEL_DNS_ADDRESS=0.0.0.0