# Timezone
TZ=Asia/Jakarta

# LinkStack Images
# Change to a stable image (https://hub.docker.com/r/linkstackorg/linkstack)
LINKSTACK_IMAGE=linkstackorg/linkstack:latest
LINKSTACK_MYSQL_IMAGE=mysql:8.0

# Server Configuration
SERVER_ADMIN=admin@example.com
HTTP_SERVER_NAME=linkstack.domain.com
HTTPS_SERVER_NAME=linkstack.domain.com

# Logging
LOG_LEVEL=warn

# PHP Settings
PHP_MEMORY_LIMIT=256M
UPLOAD_MAX_FILESIZE=20M

# MySQL Configuration
MYSQL_ROOT_PASSWORD=CHANGE_ME_MYSQL_ROOT_PASSWORD
MYSQL_DATABASE=linkstack
MYSQL_USER=linkstack_user
MYSQL_PASSWORD=CHANGE_ME_MYSQL_PASSWORD

# Ports
HTTP_PORT=8003