# Timezone
TZ=Asia/Jakarta

# Server Admin Email
SERVER_ADMIN=admin@example.com

# Server Names
HTTP_SERVER_NAME=localhost
HTTPS_SERVER_NAME=localhost

# Log Level
LOG_LEVEL=info

# PHP Settings
PHP_MEMORY_LIMIT=256M
UPLOAD_MAX_FILESIZE=8M

# MySQL Configuration
MYSQL_ROOT_PASSWORD=CHANGE_ME_MYSQL_ROOT_PASSWORD
MYSQL_DATABASE=linkstack
MYSQL_USER=linkstack_user
MYSQL_PASSWORD=CHANGE_ME_MYSQL_PASSWORD

# Port
HTTP_PORT=8003
MYSQL_PORT=3306