# Mautrix Configuration
MAUTRIX_POSTGRES_IMAGE=docker.io/postgres:18-alpine
MAUTRIX_TELEGRAM_IMAGE=git.ricalnet.my.id/rical/mautrix-telegram:stable
MAUTRIX_WHATSAPP_IMAGE=git.ricalnet.my.id/rical/mautrix-whatsapp:stable

# Database Configuration
MAUTRIX_POSTGRES_DB=mautrix
MAUTRIX_POSTGRES_USER=mautrix
# openssl rand --hex 32
POSTGRES_PASSWORD=CHANGE_ME_POSTGRES_PASSWORD

# PostgreSQL Performance
POSTGRES_SHARED_BUFFERS=128MB
POSTGRES_EFFECTIVE_CACHE_SIZE=256MB
POSTGRES_MAINTENANCE_WORK_MEM=64MB
POSTGRES_WORK_MEM=16MB
POSTGRES_MAX_CONNECTIONS=50

# Timezone
TZ=Asia/Jakarta

# Limits
MAUTRIX_TELEGRAM_MEM_LIMIT=256m
MAUTRIX_TELEGRAM_MEM_RESERVATION=64m
MAUTRIX_TELEGRAM_MEMSWAP_LIMIT=320m
MAUTRIX_TELEGRAM_CPUS=0.3
MAUTRIX_TELEGRAM_PIDS_LIMIT=100

MAUTRIX_WHATSAPP_MEM_LIMIT=256m
MAUTRIX_WHATSAPP_MEM_RESERVATION=64m
MAUTRIX_WHATSAPP_MEMSWAP_LIMIT=320m
MAUTRIX_WHATSAPP_CPUS=0.3
MAUTRIX_WHATSAPP_PIDS_LIMIT=100