# Database Configuration
# openssl rand --hex 32
MYSQL_PASSWORD=CHANGE_ME_MYSQL_PASSWORD
MYSQL_ROOT_PASSWORD=CHANGE_ME_MYSQL_ROOT_PASSWORD

# Limits
MEM_LIMIT=320m
MEM_RESERVATION=96m
MEMSWAP_LIMIT=384m
CPUS=0.4
PIDS_LIMIT=200