# Ntfy Image
# Change to a stable image (https://hub.docker.com/r/binwiederhier/ntfy/)
NTFY_IMAGE=docker.io/binwiederhier/ntfy:latest

# Server Configuration
NTFY_BASE_URL=https://your-domain.com
NTFY_BEHIND_PROXY=true

# Authentication
NTFY_AUTH_FILE=/var/lib/ntfy/auth.db
NTFY_ENABLE_LOGIN=true
NTFY_REQUIRE_LOGIN=true
NTFY_AUTH_USERS=admin:$2b$10$5TB9lSftcjFzUyf8mBTCYOLaxd4nS3a0je5CdhltljvyWwlO06Esi:admin
# Example: admin:secret123:admin

# Access Control
NTFY_AUTH_ACCESS=*:up*:write-only
# Format: topic:user:permission
# Examples:
# *:up*:write-only
# mytopic:admin:read-write
# mytopic:user:write-only

# Upstream Configuration
NTFY_UPSTREAM_BASE_URL=https://ntfy.sh

# Logging
NTFY_LOG_LEVEL=INFO
