# Ntfy Configuration
NTFY_BASE_URL=https://your-domain.com
NTFY_BEHIND_PROXY=true
NTFY_AUTH_FILE=/var/lib/ntfy/auth.db
NTFY_ENABLE_LOGIN=true
NTFY_REQUIRE_LOGIN=true
NTFY_UPSTREAM_BASE_URL=https://ntfy.sh
NTFY_AUTH_USERS=USERNAME:PASSWORD:ROLE # Contoh: admin:rahasia123:admin
NTFY_AUTH_ACCESS=*:up*:write-only