# Ntfy Image
NTFY_IMAGE=docker.io/binwiederhier/ntfy:latest

# Server Configuration
NTFY_BIND_ADDRESS=127.0.0.1
NTFY_PORT=8010
NTFY_BASE_URL=https://ntfy.domain.com
NTFY_BEHIND_PROXY=true

# Logging
NTFY_LOG_LEVEL=info

# Timezone
TZ=Asia/Jakarta

# Authentication
NTFY_ENABLE_LOGIN=true
NTFY_REQUIRE_LOGIN=true
# ntfy user add --role=admin admin
NTFY_AUTH_USERS=admin:$2b$10$:admin
NTFY_AUTH_ACCESS=*:up*:write-only
NTFY_AUTH_DEFAULT_ACCESS=deny-all

# Limits
MEM_LIMIT=192m
MEM_RESERVATION=64m
MEMSWAP_LIMIT=192m
CPUS=0.3
PIDS_LIMIT=100
OOM_SCORE_ADJ=-100
CPU_PERIOD=100000
CPU_QUOTA=30000