# Mastodon Images
# Change to a stable image (https://hub.docker.com/r/tootsuite/mastodon/)
MASTODON_WEB_IMAGE=ghcr.io/mastodon/mastodon:latest
MASTODON_STREAMING_IMAGE=ghcr.io/mastodon/mastodon-streaming:latest
MASTODON_SIDEKIQ_IMAGE=ghcr.io/mastodon/mastodon:latest
MASTODON_DB_IMAGE=postgres:18-alpine
MASTODON_REDIS_IMAGE=redis:alpine

DB_PASS=CHANGE_ME_DB_PASS