# Navidrome Configuration
NAVIDROME_IMAGE=ghcr.io/navidrome/navidrome:latest
NAVIDROME_BIND_ADDRESS=127.0.0.1
NAVIDROME_PORT=4533

# Music Path
MUSIC_PATH=./music

# Logging
ND_LOGLEVEL=info

# Scan Interval
ND_SCAN_INTERVAL=1h

# Session Timeout
ND_SESSION_TIMEOUT=24h

# JWT Secret
# openssl rand -hex 32
ND_JWT_SECRET=CHANGE_ME_ND_JWT_SECRET

# Cover Art Priority
ND_COVER_ART_PRIORITY=embedded,cover.*,folder.*,front.*
