# Forgejo Configuration
FORGEJO_IMAGE=codeberg.org/forgejo/forgejo:16-rootless
FORGEJO_BIND_ADDRESS=127.0.0.1
FORGEJO_HTTP_PORT=3002
FORGEJO_SSH_PORT=2222

# Domain
FORGEJO_DOMAIN=forgejo.domain.com
FORGEJO_ROOT_URL=https://forgejo.domain.com

# Database Configuration
POSTGRES_IMAGE=docker.io/postgres:18-alpine
FORGEJO_DB_USER=forgejo
# openssl rand --hex 32
FORGEJO_DB_PASS=CHANGE_ME_FORGEJO_DB_PASS
FORGEJO_DB_NAME=forgejo

# Security Keys
# openssl rand --hex 32
FORGEJO_SECRET_KEY=CHANGE_ME_FORGEJO_SECRET_KEY
FORGEJO_INTERNAL_TOKEN=CHANGE_ME_FORGEJO_INTERNAL_TOKEN

# Security Settings
FORGEJO_REQUIRE_SIGNIN_VIEW=true

# Logging
FORGEJO_LOG_LEVEL=Info

# PostgreSQL Performance
POSTGRES_SHARED_BUFFERS=128MB
POSTGRES_EFFECTIVE_CACHE_SIZE=256MB
POSTGRES_MAINTENANCE_WORK_MEM=64MB
POSTGRES_WORK_MEM=8MB
POSTGRES_MAX_CONNECTIONS=50

# Metrics
FORGEJO_METRICS_ENABLED=false
FORGEJO_ENABLE_PPROF=false

# Network
FORGEJO_NETWORK_INTERNAL=false
