# Nextcloud Configuration
NEXTCLOUD_BIND_ADDRESS=127.0.0.1
NEXTCLOUD_PORT=5000

# Database Configuration
MYSQL_ROOT_PASSWORD=CHANGE_ME_MYSQL_ROOT_PASSWORD
MYSQL_PASSWORD=CHANGE_ME_MYSQL_PASSWORD
MYSQL_DATABASE=nextcloud
MYSQL_USER=nextcloud
MYSQL_HOST=db

# Redis Configuration
REDIS_PASSWORD=CHANGE_ME_REDIS_PASSWORD
REDIS_CONFIG_RENAME=NEXTCLOUD_CONFIG

# Nextcloud App
NEXTCLOUD_TRUSTED_DOMAINS="nextcloud.domain.com localhost 127.0.0.1 192.168.0.100"
OVERWRITEHOST=nextcloud.doamin.com
NEXTCLOUD_NETWORK_INTERNAL=false

# External Storage
# EXTERNAL_STORAGE_PATH=/path/to/external-storage
# EXTERNAL_STORAGE_MOUNT=/var/www/html/data/external/

# PHP Settings
PHP_UPLOAD_LIMIT=10G
PHP_MEMORY_LIMIT=512M
PHP_MAX_EXECUTION_TIME=3600
PHP_POST_MAX_SIZE=10G

# Images
NEXTCLOUD_DB_IMAGE=mariadb:11.8-ubi9
NEXTCLOUD_REDIS_IMAGE=redis:alpine
NEXTCLOUD_APP_IMAGE=nextcloud:stable-fpm
NEXTCLOUD_WEB_IMAGE=nginx:alpine