# Immich Version
IMMICH_VERSION=release

# Image Configuration
IMMICH_SERVER_IMAGE=ghcr.io/immich-app/immich-server:release
IMMICH_ML_IMAGE=ghcr.io/immich-app/immich-machine-learning:release
REDIS_IMAGE=docker.io/valkey/valkey:alpine
POSTGRES_IMAGE=ghcr.io/immich-app/postgres:14-vectorchord0.4.3-pgvectors0.2.0

# Network Configuration
IMMICH_BIND_ADDRESS=127.0.0.1
IMMICH_PORT=2283

# Custom Upload Location
UPLOAD_LOCATION=./upload

# Database Configuration
DB_USERNAME=immich
# openssl rand --hex 32
DB_PASSWORD=CHANGE_ME_DB_PASSWORD
DB_DATABASE_NAME=immich

# Redis Configuration
# openssl rand --hex 32
REDIS_PASSWORD=CHANGE_ME_REDIS_PASSWORD
REDIS_CONFIG_RENAME=IMMICH_CONFIG

# PostgreSQL Performance Tuning
DB_SHARED_BUFFERS=512MB
DB_EFFECTIVE_CACHE_SIZE=1GB
DB_MAINTENANCE_WORK_MEM=128MB
DB_WORK_MEM=32MB
DB_MAX_CONNECTIONS=100

# Logging
LOG_LEVEL=info
