# Dashdot Configuration
DASHDOT_IMAGE=ghcr.io/mauricenino/dashdot:latest
# switch to 0.0.0 if you want to integrate with homarr
DASHDOT_BIND_ADDRESS=127.0.0.1
DASHDOT_PORT=3001

# Features
DASHDOT_ENABLE_CPU_TEMPS=true
DASHDOT_ENABLE_GPU_TEMPS=true
DASHDOT_ENABLE_DOCKER=true

# Logging
DASHDOT_LOG_LEVEL=info

# Theme
DASHDOT_THEME=dark

# Network
DASHDOT_NETWORK_INTERNAL=false