# Jellyfin Configuration
JELLYFIN_IMAGE=ghcr.io/jellyfin/jellyfin:latest
JELLYFIN_BIND_ADDRESS=127.0.0.1
JELLYFIN_PORT=8096
JELLYFIN_PORT_SSL=8920

# Media Path
MEDIA_PATH=./media

# Public URL
PUBLIC_URL=https://jellyfin.domain.com

# Timezone
TZ=Asia/Jakarta

# Resource Limits
MEMORY_LIMIT=1536m
MEMORY_RESERVATION=384m
MEMSWAP_LIMIT=1792m
CPU_LIMIT=1.5