# Jellyfin Image
# Change to a stable image (https://hub.docker.com/r/jellyfin/jellyfin/)
JELLYFIN_IMAGE=jellyfin/jellyfin:latest

# Path Configuration
CONFIG_PATH=./config
CACHE_PATH=./cache
MEDIA_PATH=./media

# Resource Limits
MEMORY_LIMIT=2048M
CPU_LIMIT=2.0
MEMORY_RESERVATION=512M
CPU_RESERVATION=1.0