# Portainer Configuration
PORTAINER_IMAGE=docker.io/portainer/portainer-ce:latest
PORTAINER_BIND_ADDRESS=127.0.0.1
PORTAINER_PORT=9444

# Timezone
TZ=Asia/Jakarta

# Logging
PORTAINER_LOGS_LEVEL=info

# SSL
PORTAINER_SSL=false

# Templates URL
PORTAINER_TEMPLATES_URL=https://raw.githubusercontent.com/portainer/templates/master/templates-2.0.json

# Network
PORTAINER_NETWORK_INTERNAL=false
