# Element Web Configuration
ELEMENT_WEB_IMAGE=docker.io/vectorim/element-web:latest
ELEMENT_WEB_BIND_ADDRESS=127.0.0.1
ELEMENT_WEB_PORT=8009

# Nginx Configuration
NGINX_WORKER_PROCESSES=2
NGINX_WORKER_CONNECTIONS=512
NGINX_KEEPALIVE_TIMEOUT=65
NGINX_CLIENT_MAX_BODY_SIZE=10M
ELEMENT_WEB_SECURITY_HEADERS=1
