# Uptime Kuma Configuration
UPTIME_KUMA_IMAGE=docker.io/louislam/uptime-kuma:latest
UPTIME_KUMA_BIND_ADDRESS=127.0.0.1
UPTIME_KUMA_PORT=9442

# Timezone
TZ=Asia/Jakarta

# Debug
DEBUG=false

# Monitoring Settings
UPTIME_KUMA_REFRESH_INTERVAL=60
UPTIME_KUMA_RETRY_INTERVAL=60
UPTIME_KUMA_MAX_RETRY=2
UPTIME_KUMA_HEARTBEAT_INTERVAL=60
UPTIME_KUMA_DISABLE_FRAME_SAMEORIGIN=false

# Network
UPTIME_KUMA_NETWORK_INTERNAL=false