# SearXNG Images
# Change to a stable image (https://hub.docker.com/r/searxng/searxng/)
SEARXNG_REDIS_IMAGE=docker.io/valkey/valkey:alpine
SEARXNG_IMAGE=docker.io/searxng/searxng:latest

# By default listen on https://localhost
# To change this:
# * uncomment SEARXNG_HOSTNAME, and replace <host> by the SearXNG hostname
# * uncomment LETSENCRYPT_EMAIL, and replace <email> by your email (require to create a Let's Encrypt certificate)

SEARXNG_HOSTNAME=your-domain.com
# LETSENCRYPT_EMAIL=
