# SearXNG Redis Configuration
SEARXNG_REDIS_IMAGE=docker.io/valkey/valkey:alpine
REDIS_PASSWORD=CHANGE_ME_REDIS_PASSWORD
REDIS_URL=redis://:${REDIS_PASSWORD}@redis:6379/0

# SearXNG Configuration
SEARXNG_IMAGE=docker.io/searxng/searxng:latest
SEARXNG_SECRET_KEY=CHANGE_ME_SEARXNG_SECRET_KEY
SEARXNG_HOSTNAME=search.ricalnet.my.id
SEARXNG_DEBUG=false

SEARXNG_PUBLIC_INSTANCE=false