# SearXNG Images
# Change to a stable image (https://hub.docker.com/r/searxng/searxng/)
SEARXNG_REDIS_IMAGE=docker.io/valkey/valkey:alpine
SEARXNG_IMAGE=docker.io/searxng/searxng:latest

# SearXNG Hostname
# Replace with your actual domain name where SearXNG will be hosted
SEARXNG_HOSTNAME=your-domain.com