# --------------------------------------------
# Image
# --------------------------------------------
SLINK_IMAGE=docker.io/anirdev/slink:latest
SLINK_CONTAINER_NAME=slink

# --------------------------------------------
# General
# --------------------------------------------
ORIGIN=https://slink.domain.com
TZ=Asia/Jakarta
PORT=3000

# --------------------------------------------
# Users & Access
# --------------------------------------------
USER_ALLOW_REGISTRATION=false
USER_ALLOW_GUEST_UPLOADS=false
USER_ALLOW_UNAUTHENTICATED_ACCESS=false
USER_REQUIRE_AUTH_FOR_MEDIA_SHARES=false
USER_REQUIRE_AUTH_FOR_COLLECTION_SHARES=true
USER_PASSWORD_MIN_LENGTH=12
USER_PASSWORD_REQUIREMENTS=15

# --------------------------------------------
# Image Processing
# --------------------------------------------
IMAGE_MAX_SIZE=5M
IMAGE_CHUNK_SIZE=2M
IMAGE_STRIP_EXIF_METADATA=true
IMAGE_ALLOW_ONLY_PUBLIC_IMAGES=false
IMAGE_COMPRESSION_QUALITY=80
IMAGE_ENABLE_DEDUPLICATION=true
IMAGE_FORCE_FORMAT_CONVERSION=true
IMAGE_TARGET_FORMAT=webp
IMAGE_CONVERT_ANIMATED_IMAGES=false

# --------------------------------------------
# Sharing
# --------------------------------------------
SHARE_ENABLE_URL_SHORTENING=false
SHARE_SHORT_URL_LENGTH=8

# --------------------------------------------
# Storage
# --------------------------------------------
STORAGE_PROVIDER=local

# --------------------------------------------
# Admin User (First-Run Setup)
# --------------------------------------------
ADMIN_USERNAME=admin
ADMIN_EMAIL=admini@slink.domain.com
ADMIN_PASSWORD=CHANGE_ME_ADMIN_PASSWORD

# --------------------------------------------
# Container Port & Resource Limits
# --------------------------------------------
SLINK_PORT=2290
SLINK_MEM_LIMIT=512m
SLINK_MEM_RESERVATION=128m
SLINK_MEMSWAP_LIMIT=768m
SLINK_CPUS=0.5
PIDS_LIMIT=1024